# Class-3-Exe:

In [1]:
# print function :
# syntax of print()
#  print(values/objects..,sep=' ',end='\n',file=sys.stdout,flush=True)
# 1 we can print any type of objects and values 
# 2 we can print any values 
# 3 sep is parameter of print function  used for separating and defaults values is space 
# 4 end is also parameter of printfunction used for next line default value is nextline \n

In [2]:
print("hy babar","how are you") 
print("hy babar","how are you" ,sep=',')

hy babar how are you
hy babar,how are you

In [3]:
print("hy babar","how are you" ,sep='---') 
# we can add anything here

hy babar---how are you

In [4]:
print("hy babar how are you",end='')  # here we remove default value then it print same line 
print(" i am good ")

hy babar how are you i am good

In [5]:
print("hy babar","how are you" ,end=',') # if we any other thing it will print at last 
print("i am fine ") # like this

hy babar how are you,i am fine

In [1]:
# the default value of print function is None 
# let me prof :
a=print()
print(a)
print(type(a))
print(id(a))

None
<class 'NoneType'>
140723095038704

In [18]:
# print function or output formating 
age=20
name='babar'
subject="artificial intelligence"
#---------method 1
print("my name is {} age is {} and my subject is{}  ".format(name,age,subject))

# method 2
print("my name  is {} and age is {} and my subject is {} ".format('ali','20','islamiyat'))


# method 3 
print("my name  is {name} and age is {age} and my subject is {sub} ".format(name='hamza',age='25',sub='math'))

my name is babar age is 20 and my subject isartificial inteligence
my name  is ali and age is 20 and my subjecct is islamiyat
my name  is hamza and age is 25 and my subjecct is math

#----------------------------

In [31]:
print("babar"*5) # it will 5 time my name 
print("babar-"*5,sep='')
print("babar" + " aas muhammad " ) # concatenation 

#-------------------------

babarbabarbabarbabarbabar
babar-babar-babar-babar-babar-
babar aass muahammad

# Input function

In [7]:
a=input()
print(a) # the default value of input is get input from user

 babar2024

babar2024

In [8]:
# input function alwayse return string 
a=input("enter something ")
print(a,type(a))

enter something  2023

2023 <class 'str'>

In [10]:
# if we want to return value should be int or float then we have to do typecasting like this 
age=int(input("Enter your age :"))
print("age is ",age,"and it type is ",type(age))

Enter your age : 12

age is  12 and it type is  <class 'int'>

In [11]:
# same here for float value return
age=float(input("Enter your age :"))
print("age is ",age,"and it type is ",type(age))

Enter your age : 19

age is  19.0 and it type is  <class 'float'>

In [31]:
# Take user input for age
age_input = input("Enter your age: ")

# Check if the input is a number
if age_input.isdigit():
    age = int(age_input)
    print("You entered True")
else:
    print("You entered False")

Enter your age:  True

You entered False

In [37]:
# using list 
input_val=list(input("enter "))
print(input_val)
print(type(input_val))

enter  tgerg

['t', 'g', 'e', 'r', 'g']
<class 'list'>

In [39]:
# using tuple 
input_value=tuple(input("enter "))
print(input_value)
print(type(input_value))

enter  babar

('b', 'a', 'b', 'a', 'r')
<class 'tuple'>

In [40]:
# using set 
input_value=set(input("enter "))
print(input_value)
print(type(input_value))

enter  45

{'5', '4'}
<class 'set'>

In [46]:
a=type(a)
print(a)

<class 'str'>

In [28]:
# evel
print(eval)
print(eval.__new__)

<built-in function eval>
<built-in method __new__ of type object at 0x00007FFCAEE1A310>

In [4]:
print(type.__new__)

<built-in method __new__ of type object at 0x00007FFCAEE1A4B0>

In [6]:
print(id)

<built-in function id>

In [7]:
print(type)

<class 'type'>

In [8]:
print(id.__new__)

<built-in method __new__ of type object at 0x00007FFCAEE1A310>

In [30]:
# eval function 
a=eval(input("enter"))
print(a)

enter 3

3

In [44]:
print(eval('10==10'))
print(eval('2 - 2'))
x=2*5-(2/10)+45
print(eval('x'))

True
0
54.8

In [33]:

# Python program to illustrate eval() function
print(eval('10 == 10'))

print(eval('2 ** 2'))

print(eval("'Pyt' + 'hon'"))

print(eval("'He' * 5"))

x = 10 + 59 - 23 * 5
print('Value of x is:', eval('x'))

print('Sum of list is:', eval('sum([2, 4, 6, 8])'))

True
4
Python
HeHeHeHeHe
Value of x is: -46
Sum of list is: 20

In [37]:
# eval function is take only one argument and that is string only
# al
# lets prof and example :
#------------------------
# a=eval(5)
# print(a)  # show error

#-----------------------
b=eval("5")
print(b) # correct becauese i give string
print(type(b)) # checking type 
#--------------

5
<class 'int'>

In [57]:
# we can pass string
c=eval('"babbr"')
print(c)
#-------------

c=eval('"babar" + "ali"') # congatination
print(c)
print(type(c))

babbr
babarali
<class 'str'>

In [56]:
# pass any expression in eval function to solve them
exp=eval("((3-6-9+78)*8)/2  ")
print(exp)
print(type(exp))

264.0
<class 'float'>

In [62]:
a=eval("'babar' * 5")
print(a)
print(type(a))

babarbabarbabarbabarbabar
<class 'str'>

In [68]:
# pass in list in eval
a=eval("[1,2]")
print(a)
print(type(a))

[1, 2]
<class 'list'>

In [79]:
# main use of eval with input function 
user=eval(input("enter something"))
print(user)
print(type(user)) 

# in this program we can pass all data types using its own format but only not pass dic

enter something ('1',1)

('1', 1)
<class 'tuple'>

In [83]:
# for passing dic we have to write seprate expresion of dict
my_dict = {'x': 5, 'y': 10}
expression = "x + y"

result = eval(expression, my_dict)
print(result)  # Output will be 15

15

In [88]:
# Dynamic Code Execution: You can execute dynamically generated code.
code = '''
def greet():
    print("Hello, world!")
'''
exec(code)


def greet():
    pass


greet()  # Output: Hello, world!
print(type(greet))

Hello, world!
<class 'function'>

In [91]:
def square(x):
    return x * x

func_name = "square"
arg = 5
result = eval(func_name + "(" + str(arg) + ")")  # Output: 25
print(result)
print(type(result))

25
<class 'int'>

# exec

In [96]:
# # exec is function

# # The `exec()` function in Python is used for dynamic execution of Python code. It takes either a string representing the code or a code object and executes it within the current Python environment. Here's a breakdown of its features and use cases:

# # 1. **Dynamic Code Execution**: `exec()` allows you to execute dynamically generated Python code at runtime. This code can include assignments, function definitions, control flow statements, and any other valid Python code.

#     ```python
#     code = '''
#     x = 5
#     y = 10
#     print(x + y)
#     '''
#     exec(code)  # Output: 15
#     ```

# 2. **String Parsing and Compilation**: You can use `exec()` to parse and execute Python code stored as strings.

#     ```python
#     code_string = 'print("Hello, world!")'
#     exec(code_string)  # Output: Hello, world!
#     ```

# 3. **Script Execution**: It can be used to execute Python scripts dynamically within your program.

#     ```python
#     script_path = 'path/to/script.py'
#     with open(script_path, 'r') as f:
#         script_code = f.read()
#     exec(script_code)
#     ```

# 4. **Dynamic Function Definition**: You can define functions dynamically using `exec()`.

#     ```python
#     func_code = '''
#     def greet(name):
#         print("Hello,", name)
#     '''
#     exec(func_code)
#     greet("Alice")  # Output: Hello, Alice
#     ```

# 5. **Modifying Global or Local Namespace**: You can control whether the code executed by `exec()` operates on the global or local namespace by passing appropriate dictionaries as the second and third arguments.

#     ```python
#     my_globals = {}
#     my_locals = {}
#     exec('x = 5', my_globals, my_locals)
#     print(my_locals['x'])  # Output: 5
#     ```

# 6. **Code Injection and Metaprogramming**: `exec()` is often used in metaprogramming scenarios, where code is generated dynamically based on certain conditions or configurations.

# # However, it's important to exercise caution when using `exec()`, as executing arbitrary code poses security risks, especially if the source of the code is untrusted. Malicious code executed with `exec()` can potentially harm your system or
# leak sensitive information. Always validate and sanitize any input before executing it dynamically. Additionally, consider alternative approaches whenever possible, such as using safer constructs like functions, classes, or specific libraries for the task at hand.

In [104]:
# it is used to dynamic execution or parse like this
value= """ 
x=8
y=9
print((x+y)*7)
"""
a=exec(value)
print(a)

119
None

In [105]:
# and other hand if we print this as simpel
# it is used to dynamic execution or parse like this
value= """ 
x=8
y=9
print((x+y)*7)
"""

print(value)
# it will print as tiz but if you wnat to proforn internly then we can use exec function

x=8
y=9
print((x+y)*7)

In [113]:
# it is used to dynamic execution or parse like this
statment="""
def myfunc():
    print("hy babar")
    
for i in range(5):
    print(i,myfunc())
"""
a=exec(statment)
print(a)

hy babar
0 None
hy babar
1 None
hy babar
2 None
hy babar
3 None
hy babar
4 None
None

In [114]:
script_path = 'output.txt'
with open(script_path, 'r') as f:
    script_code = f.read()
a=exec(script_code)
print(a)

SyntaxError: invalid syntax (<string>, line 1)

# ord function is used to for charter to ASSISI code

In [6]:
b=ord('a')
print(b)
words = "abcdedefk"
for i in words:
    print(i,ord(i))

97
a 97
b 98
c 99
d 100
e 101
d 100
e 101
f 102
k 107

In [4]:
# chr is used for number to character by ASCII
for i in range(64 ,70):
    print(i,chr(i))

64 @
65 A
66 B
67 C
68 D
69 E

# variable int,float,bool,complex

In [8]:
a = 10  # int 
b = -1  # int
print("value of a and b is ",a,b)
print("type of a or b is ",type(a),type(b))

value of a and b is  10 -1
type of a or b is  <class 'int'> <class 'int'>

In [2]:
# # Default values 
# int()  # 0
# float()  # 0.0
# str()  # ''
# bool()  # False
# complex()  # 0j
# list()  # []
# tuple()  # ()
# dict()  # {}
# set()  # set()
# frozenset()  # frozenset()
# bytes()  # b''
# bytearray()  # bytearray()
# memoryview()  # memoryview()
# range()  # range(0, 1)
# None  # None
# True  # True
# False  # False
# def myfunc():
#     pass     # None
# print(myfunc())  # None
# print(print())  # None
# 
# # we can also pass value in int function
# a=int(10)
# print(a)
# print(type(a))

In [7]:
# here prof :
a=int() 
print("Default value of a is ",a)
b=float()
print("default value of  b is ",b)
c=bool()
print("default value of  c is ",c)
d=complex()
print("default value of  d is ",d)
e=str()
print("default value of  e is ",e)
# and it is also used for typecasting

Default value of a is  0
default value of  b is  0.0
default value of  c is  False
default value of  d is  0j
default value of  e is

In [21]:
# we can assign multiple variable to multiple values 
a = 10,20
print(a)
print(type(a))
print("--------------------------")
b,*c= 2,2,3
print(b, c)
print("type of b and c is ", type(b),type(c))

(10, 20)
<class 'tuple'>
--------------------------
2 [2, 3]
type of b and c is  <class 'int'> <class 'list'>